.logo {
    margin-top: 27px
}

.name-front {
    text-align: right;
}

.name {
    font-family: 'Quicksand', sans-serif;
    font-size: 5em;
}

.front-end {
    font-weight: 500;
}

.name,
.front-end {
    text-transform: uppercase;
    color: #2d3c49
}

.hr-line {
    height: 6px;
    background-color: #7d97ad;
}

@media screen and (max-width: 767px) {
    .name-front {
        text-align: center;
    }
    .logo-contain {
        text-align: center;
    }
}
